<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>01-UITabBarControllerDemo(SB).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CC88CDC61CB4A5A100134487</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CC88CDE21CB4A5A100134487</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CC88CDED1CB4A5A100134487</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
